.sonarqube/
.terraform/
*.tfstate.backup
packages/*.nupkg
[Oo]bj
[Bb]in
.vs/
.idea/
.vscode/
*.user
node_modules/
package-lock.json
*/compiledForServer/l10n/
*/compiledForServer/lib/
*/compiledForServer/shared/
*/compiledForServer/views/
*/wwwroot/images/
*/wwwroot/l10n/
*/wwwroot/lib/
*/wwwroot/shared/
*/wwwroot/views/
*/wwwroot/.well-known/browserconfig.xml
*/wwwroot/.well-known/favicon.ico
*.css.d.ts
*.scss.d.ts
*.cs.d.ts
*.generated.ts
*/shared/locale/_build/
*/shared/locale/*/*.js
*/shared/locale/*/*.d.ts
/.aws-sam/
